.menuIcon:hover{
    background-color: #daf5fa;
}

.popup{
    width: 100%;
    font-size: 0.8rem;
    margin-top: 0.2rem;
    font-weight: 600;
    background-color: #f1f3f7;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.pagination{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 0 auto;
}

.pageItem{
    padding: 0 0.5rem;
    font-weight: bold;
}

.popoverContent{
    text-align: center;
}

.popoverItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.popoverIconHighlight{
    border-left: blue;
}

.active{
    background-color: #1976d2;
    color: white;
    border-radius: 0.2rem;
}

.paginationNumbers{
    list-style-type: none;
    display: flex;
    cursor: pointer;
}

.table{
    width: 85%;
    border-spacing: 0 0.5rem;
    text-align: center;
   
}

.table tr:not(:first-child){
    background-color: white;
}

.table td:first-child{
    text-align: left;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.table th:first-child{
    text-align: left;
}

.table td:last-child{
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.table th{
    padding: 1rem;
    font-weight: 600;
    color: #002277;
}

.table td{
    padding: 1rem;
    color: #6e6e6e;
    font-weight: 700;
}

.lastRow{
    margin: 1rem auto;
    width: 85%;
}

