.menuIcon:hover{
    background-color: #daf5fa;
}

.popup{
    width: 100%;
    position: absolute;
    top: 75px;
    bottom: 0px;
    font-size: 0.8em;
    font-family: 'Quicksand';
    font-weight: 600;
    background-color: #f1f3f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pagination{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.pageItem{
    padding: 0 0.5em;
    font-weight: bold;
}

.popoverContent{
    text-align: center;
}

.popoverItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
}

.popoverIconHighlight{
    background-color: #daf5fa;
    border-left: blue;
}

.active{
    background-color: #1976d2;
    color: white;
    border-radius: 0.2em;
}

.paginationNumbers{
    list-style-type: none;
    display: flex;
    cursor: pointer;
}

.table{
    width: 90%;
    border-spacing: 0 0.5em;
   
}

.table tr:not(:first-child){
    background-color: white;
}

.table td:first-child{
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}

.table td:last-child{
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.table th{
    padding: 1em;
    font-weight: 600;
    color: #002277;
    text-align: left;
}

.table td{
    padding: 1em;
    color: #6e6e6e;
    font-weight: 700;
}

.lastRow{
    margin: 1em auto;
    width: 90%;
}

