.home{
    text-align: left;
}

.headline{
    width: 42vh;
}

.mainText{
  color: #8e8e8e;
}

.mainText h2{
    font-family: "Quicksand";
    font-weight: 600;
    font-size: 3.5rem;
}

.mainText span{
    color: #002277;
}

.subText{
    margin: 1rem 0 0 0;
    font-size: 1.2rem;
    line-height: 1.2;
    color: #40454d;
}

 .form{
    font-size: 0.9rem;
    position: relative;
    top: 45vh;
    left: 30vh;
}

/* .homeInput::placeholder{
    font-size: 0.775rem;
} */

.mediaField{
    width: 15vw;
}

.formNormal{
    margin: 2rem 0rem;
}