.xPage{
    height: 100%;
    background-color: #f1f3f7;
    font-size: 0.8rem;
}

.downGridItemTwoHeading{
    display: flex;
    justify-content: space-between;
}

.gridContainer{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 1.2rem;
    width: 90%;
    margin: 2rem auto;
}

.nestedGridItem{
    padding: 1rem;
}

.nestedGridItemOne{
     display: flex;
     justify-content: space-between;
     margin-bottom: 0.5rem;
}

.nestedGridItemTwo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}

.nestedGridItemFour{
    grid-column: 3 / 4;
}

.gridItemOne{
    grid-area: 1 / 1 / 3 / 3;
    background-color: #002277;
    border-radius: 0.5em;
    padding: 1rem;
}

.gridItemOneInside{
    display: grid;
    grid-template-columns: auto auto auto auto;
    
    color: white;
    height: 100%;
}

.menuTooltipFragment{
    font-size: 0.8rem;
}

.gridItemOneInsideTwo{
    grid-column: 4 / 5;
}

.gridItemOneInsideThree{
    grid-column: 1 / 5;
}

.gridItemTwo, .gridItemThree, .gridItemFour, .gridItemFive, .gridItemSix, .gridItemSeven{
    background-color: white;
    border-radius: 0.5em;
}

