.xPage{
    height: 100%;
    background-color: #f1f3f7;
    font-size: 0.8rem;
}
.lastRow{
    width: 90%;
    display: flex;
    margin: auto;
    background-color: rgb(237 234 234);
}
.downGridItem{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
    padding: 1rem;
}
.downGridItemOne{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1 / 3;
    background-color: #f1f3f7;
}

.downGridItemTwo{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.downGridItemFive{
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.downGridItemTwoHeading{
    display: flex;
    justify-content: space-between;
}
.secondPart{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
    width: 90%;
    margin: auto;
}
.gridContainer{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 1.2rem;
    width: 90%;
    margin: 2rem auto;
}

.nestedGridItem{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0.5rem;
    padding: 1rem;
}

.nestedGridItemOne{
    grid-column: 1 / 3;
    
}

.nestedGridItemTwo{
    margin-left: auto;
}

.nestedGridItemFour{
    grid-column: 3 / 4;
}

.gridItemOne{
    grid-area: 1 / 1 / 3 / 3;
    background-color: #002277;
    border-radius: 0.5em;
    padding: 1rem;
}

.gridItemOneInside{
    display: grid;
    grid-template-columns: auto auto;
    color: white;
    height: 100%;
}

.gridItemTwo, .gridItemThree, .gridItemFour, .gridItemFive, .gridItemSix, .gridItemSeven{
    background-color: white;
    border-radius: 0.5em;
}

