.firstLetterOrange{
    color: #ff5d2f;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1vw;
    color: #012277; 
    padding: 1rem 2rem;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.titleImage{
    width: 17vw;
}

.heading{
    font-size: 1rem;
}

.profile{
    display: flex;
    align-items: center;
}

