.firstLetterOrange{
    color: #ff5d2f;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 3vh;
    font-size: 1vw;
    color: #012277;
    width: 70%;
    margin-left: auto;
    margin-right: 2em;
}

.heading{
    font-size: 1rem;
}

.profile{
    display: flex;
    align-items: center;
}

@media (max-height: 500px) {
    .header{
       top: 0.5vh;
    }
  }
