.firstLetterOrange{
    color: #ff5d2f;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1vw;
    color: #012277;
}

.heading{
    font-size: 1rem;
}

.profile{
    display: flex;
    align-items: center;
}

