 .AppWithHomeBackground{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url('../public/images/RIGHT\ SHAPE.png');
    background-position: top right;
    background-size: 35% 80%;
    background-repeat: no-repeat;
 }
