 .AppWithHomeBackground{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url('./images/Edited_BG.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
 }

 .AppWithPopupBackground{
   display: flex;
   flex-direction: column;
   height: 100vh;
   background-image: url('./images/CAT\ LANDING\ PAGE\ BG_02.png');
   background-size: 100% 100%;
   background-repeat: no-repeat;
   background-attachment: fixed;
}
