 .App{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url('./images/CAT\ LANDING\ PAGE\ BG.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
 }